
form {
  /* height: inherit; */
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
  align-items: center;
  /* align-self: center; */
}
html{
  height: 90%

}

body {
  background-color: aliceblue;
  font-family: verdana, arial;
  height: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

 div.spalten{
   float:left;	
   margin-right: 100px;
}

.userID {
  margin: 1%;
}

.menulabel {
  width: 49%;
  height: 10vh;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: plum;
  margin: 0.2%;
  align-items: center;
  font-size: 8vh;
  min-height: 8vh;
}

.menulabel:has(input[type="radio"]:checked) {
  background:pink !important;
  background-color: red;
  border: 5%;
  border-color: black;

}

.menuinput {
  display: none;
  
}

.footer {
  display: flex;
  align-items: center;
  bottom: 10%;
  width: 40%;
  flex-direction: column;
  align-self: center;
}

.menus {
  width: 80%;
  height: 80%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}