/* palette from color.adobe.com 
  #548D95 
  #76C1C3
  #AE7F21
  #F0AE44
  #789342
  #B4DB6F
  */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
html{
  height: 90%

}

body {
  background-color: aliceblue;
  font-family: verdana, arial;
  height: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

 div.spalten{
   float:left;	
   margin-right: 100px;
}

.userID {
  margin: 1%;
}

.menulabel {
  width: 49%;
  height: 11vh;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #76C1C3;
  margin: 1px;
  align-items: center;
  font-size:calc(12px + 7vh);
  min-height: 30px;
}

.menulabel:has(input[type="radio"]:checked) {
  background:#548D95 !important;
  border: 5%;
  border-color: black;

}

.menuinput {
  width: 0px;
  height: 0px;
  position: fixed;
}

.footer {
  display: grid;
  align-items: center;
  bottom: 10%;
  flex-direction: column;
  align-self: center;
  width: fit-content;
}

.menus {
  width: 80%;
  height: 80%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}