
form {
  height: inherit;
  display: flex;
  flex-direction: column;
  height: inherit;
  /* width: 80%; */
  align-items: center;
  align-self: center;
}
html{
  height: 100%

}

body {
  background-color: aliceblue;
  font-family: verdana, arial;
  height: inherit;
  /* width: 80%; */
}

 div.spalten{
   float:left;	
   margin-right: 100px;
}

.button {
}

.menulabel {
  width: 25%;
  height: 25%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: plum;
  margin: 5px;
  align-items: center;
  font-size: 2vw;
}

.menulabel:has(input[type="radio"]:checked) {
  background:pink !important;
  background-color: red;
  border: 5%;

}

.menuinput {
  display: none;
  
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 10%;
  width: 40%;
  flex-direction: column;
  align-self: center;
}

.menus {
  width: 80%;
  height: 60%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}