colors{
  color: #548D95 #76C1C3 #AE7F21 #F0AE44 #789342 #B4DB6F
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

body {
  background-color: aliceblue;
  font-family: verdana, arial;
  height: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.l_UID{
  display: flex;
  width: 100%;
}

.I_UID {
  font-size:calc(12px + 6vh);
  width: inherit;
  min-height: 12;
  margin: 1%;
  flex-grow: 1;
  flex-basis: 100px;
}

.menulabel {
  flex-basis: 40%; /* zwischen 33.3% und 50%, damit genau 2 reihen generiert werden. */
  background-color: #76C1C3;
  
  
}

textarea:focus, input:focus{
    outline: none;
}

.menulabel:has(input[type="radio"]:checked) {
  background:#548D95 !important;
  border: 5%;
  border-color: black;

}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: center;
  margin: 1%;
  width: 100%;
}

.tax {
  background-color: #F0AE44
}

.tax:has(input[type="radio"]:checked) {
  background:#AE7F21 !important;
}

.input_invis {
  width: 0px;
  height: 0px;
  position: fixed;
}

.btn {
  height: 11vh;
  font-size:calc(12px + 7vh);
  min-height: 30px;
  border-radius: 4vh;
  margin: 0.1%;
  text-align: center;
  flex-grow: 1;
  
}



.submit {
  background-color: #789342;
}

.menus {
  height: 80%;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}