colors{
  color: #548D95 #76C1C3 #AE7F21 #F0AE44 #789342 #B4DB6F
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

body {
  background-color: aliceblue;
  font-family: verdana, arial;
  height: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.l_UID{
  display: flex;
  width: 100%;
  margin: 1%;
}

.I_UID {
  font-size:calc(12px + 6vh);
  width: inherit;
  min-height: 30px;
  
  flex-grow: 1;
  flex-basis: 100px;
}

#popup-yes, #popup-no, #popup-message {
  font-size:calc(12px + 3vh);
}

.menulabel {
  flex-basis: 40%; /* zwischen 33.3% und 50%, damit genau 2 reihen generiert werden. */
  background-color:#9ED8DE;
  
}

textarea:focus, input:focus{
    outline: none;
}

.menulabel:has(input[type="radio"]:checked) {
  background:#D98DFB !important;
  border: 5%;
  border-color: black;

}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: center;
  margin: 1%;
  width: 100%;
}

.tax {
  background-color: #e8e7a4
}

.tax:has(input[type="radio"]:checked) {
  background:#D98DFB !important;
}

.input_invis {
  width: 0px;
  height: 0px;
  position: fixed;
}

.btn {
  height: 11vh;
  font-size:calc(12px + 7vh);
  min-height: 30px;
  border-radius: 4vh;
  margin: 0.3%;
  text-align: center;
  flex-grow: 1;
  
}

.btn:has(input[type="radio"]:checked) {
  outline-color: black;
  outline-style: solid;
  outline-width: 5px;
}


.submit {
  background-color: #17cf53;
}

.menus {
  height: 80%;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .popup-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
  }

  .popup-buttons button {
    margin: 10px;
    padding: 10px 20px;
  }