# ${variables} specified in env_file (.env)
services:
  djangoapp:
    build:
      dockerfile: ./Dockerfile
    volumes:
      - ./logs/dev.log:/var/log/gunicorn/dev.log
      # - ./backend/desksharing-web/db.sqlite3:/opt/services/djangoapp/src/desksharing-web/db.sqlite3 # <-- sync database
      # DEV ONLY:
      # - ./:/opt/services/djangoapp/src/
    env_file:
      - .env
    environment:
      - BACKEND_PORT=${BACKEND_PORT}