# ${variables} specified in env_file (.env)
services:
  djangoapp:
    build:
      dockerfile: ./Dockerfile
      args:
        DJANGO_SUPERUSER_USERNAME: ${DJANGO_SUPERUSER_USERNAME}
        DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
        DJANGO_SUPERUSER_EMAIL: ${DJANGO_SUPERUSER_EMAIL}
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
        DB_NAME: ${DB_NAME}
        DB_ADDR: ${DB_ADDR}
        DB_PORT: ${DB_PORT}
        DB_ENGINE: ${DB_ENGINE}
        DEBUG: False
    ports:
      - "80:80"
    
    volumes:
      # - ~/logs/:/var/log/gunicorn/
      # - ./db.sqlite3:/opt/services/djangoapp/src/db.sqlite3 # <-- sync database
      # DEV ONLY:
      - ./:/opt/services/djangoapp/src/
    env_file:
      - .env
    environment:
      - DEBUG=False    