# ${variables} specified in env_file (.env)
services:
  djangoapp:
    build:
      dockerfile: ./Dockerfile
    # volumes:
    #   - ~/logs/:/var/log/gunicorn/
      # - ./backend/desksharing-web/db.sqlite3:/opt/services/djangoapp/src/desksharing-web/db.sqlite3 # <-- sync database
      # DEV ONLY:
      # - ./:/opt/services/djangoapp/src/
    env_file:
      - .env
    environment:
      - BACKEND_PORT=80