name: Deploy Backend to Dev
on: 
  push:
    branches:
    - main
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
jobs: 
  compose:
    runs-on: [dev]
    environment: testing
    steps:
      - uses: actions/checkout@v4.2.2
      - name: run build&run script
        run: ./build.sh